:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #f4623a;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #ecc7c7;
    --secondary: #6eccc8;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    
    /* Setting navbar hieght and the same padding for the body */
    --main-navbar-height: 3.5625rem;

}


body {
    
    /* Defining BRAND COLOURS */
    --colour-brand-primary: #e9624f;
    --colour-brand-secondary: #c8eded;

    --colour-action-primary: red;
    --colour-action-secondary: yellow;

    --colour-background-primary: beige;
    --colour-background-secondary: beige;

    --colour-grey-primary: grey;
    --colour-grey-secondary: #4e4e4e;
    --colour-grey-light: #d4d4d4;
    --colour-grey-dark: #252525;

    /* Bootstrap sets the fontsize to .875rem, seems tooo small,  */
    font-size: 1rem;
    /* Taking the navbar's height to set top padding for the body */
    padding-top: var(--main-navbar-height);

    /* StartBootstrap 'Creative' theme settings */

    margin: 0;
    font-family: "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

.navbar {
    
    height: var(--main-navbar-height);
}

.navbar-collapse {
    margin-left: -1rem;
    padding-left: 1rem;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* These probably go separate - used by Django in allauth Forms for button class */

.primaryAction  {
    background-color: var(--colour-action-primary);
    color:black;
    border-radius: 5px;
}

.secondaryAction {
    background-color: var(--colour-action-secondary);
    color: black;
    border-radius: 5px;
}
/* --------------------------- */
/* StartBootstrap CSS */
/* --------------------------- */

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

.navbar-brand img {
    max-height: 45px !important;
}

/* The Call To Action extra banner that is optional on the page */

.cta {
    display: block;
    margin: 0 0 1rem 0;
    background: #ffe175;
    padding: 0.9rem;
    font-size: 1.0rem;
    text-align: center;
    -webkit-box-shadow: 8px 8px 17px #a1a1a1,
                -8px -8px 15px #fff;
            box-shadow: 8px 8px 17px #a1a1a1,
                -8px -8px 15px #fff;
}

.cta-md {
    -webkit-transform: rotate(8deg);
        -ms-transform: rotate(8deg);
            transform: rotate(8deg);
    position: absolute;
}

.cta-sm {
    -webkit-transform: rotate(2deg);
        -ms-transform: rotate(2deg);
            transform: rotate(2deg);
    position: absolute;
    bottom: -1vh;
    width: 90vw;
}

.cta-title {
    font-weight: 700;
    line-height: 220%;
    color: red;
}

.cta-btn {
    text-decoration: none;
    z-index: 1500;
    outline: none;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    padding: .6rem 1.4rem;
    color: #fff;
    background-color: #007e00;
    -webkit-box-shadow: inset 3px 3px 7px #cbced1,
                inset -3px -3px 7px #fff;
            box-shadow: inset 3px 3px 7px #cbced1,
                inset -3px -3px 7px #fff;
    -webkit-transition: 700ms;
    -o-transition: 700ms;
    transition: 700ms;
}

.cta-btn:hover {
    background: #00ee0c;
    text-decoration: none;
}

.cta-btn:active {
    background: #005e18;
    text-decoration: none;
}

/* Masthead styles - SB -'creative' */

header.masthead {
    /* padding-top: 10rem; */
    padding-bottom: calc(10rem - 4.5rem);
    height: 100vh; /* calc(100vh - var(--main-navbar-height)); */
    background: url("/static/img/temp_background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
header.masthead h1 {
    font-size: 2.25rem;
}
@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        /* padding-top: 2.5rem; */
        padding-bottom: 0;
    }
    header.masthead p {
        font-size: 1.15rem;
    }
    header.masthead h1 {
        font-size: 3rem;
    }
}
@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 3.5rem;
    }
}

@media (max-width: 575px) {
    h2 {
        font-size: 2.2rem !important;
    }
}

.page-section {
    padding: 8rem 0;
}

.text-body {
    color: #212529 !important;
}

.text-muted {
    color: #6c757d !important;
}

.text-black-50 {
    color: rgba(0, 0, 0, 0.5) !important;
}

.text-white {
    color: #fff !important;
}

.text-white-50 {
    color: rgba(255, 255, 255, 0.5) !important;
}

.text-white-75 {
    color: rgba(255, 255, 255, 0.75);
}

.text-hide {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.text-decoration-none {
    text-decoration: none !important;
}

.text-break {
    word-wrap: break-word !important;
}

.text-reset {
    color: inherit !important;
}

/* PORTFOLIO SECTION */

#portfolio .container-fluid, #portfolio .container-sm, #portfolio .container-md, #portfolio .container-lg, #portfolio .container-xl {
    max-width: 1920px;
}
#portfolio .container-fluid .portfolio-box, #portfolio .container-sm .portfolio-box, #portfolio .container-md .portfolio-box, #portfolio .container-lg .portfolio-box, #portfolio .container-xl .portfolio-box {
    position: relative;
    display: block;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption, #portfolio .container-sm .portfolio-box .portfolio-box-caption, #portfolio .container-md .portfolio-box .portfolio-box-caption, #portfolio .container-lg .portfolio-box .portfolio-box-caption, #portfolio .container-xl .portfolio-box .portfolio-box-caption {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    color: #fff;
    background: rgba(244, 98, 58, 0.9);
    transition: opacity 0.25s ease;
    text-align: center;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-category, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-category {
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 0.85rem;
    font-weight: 600;
    text-transform: uppercase;
}
#portfolio .container-fluid .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-sm .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-md .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-lg .portfolio-box .portfolio-box-caption .project-name, #portfolio .container-xl .portfolio-box .portfolio-box-caption .project-name {
    font-size: 1.2rem;
}
#portfolio .container-fluid .portfolio-box:hover .portfolio-box-caption, #portfolio .container-sm .portfolio-box:hover .portfolio-box-caption, #portfolio .container-md .portfolio-box:hover .portfolio-box-caption, #portfolio .container-lg .portfolio-box:hover .portfolio-box-caption, #portfolio .container-xl .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
}
