{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% endblock %}

    <!-- BOOTSTRAP  *********  Lumen for testing - for now ******  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.0/lumen/bootstrap.min.css"
    />

    <!-- FontAwesome 5 - not the kit **** TO BE REPLACED  -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />

    <!-- MY CSS -->
    {% block core-css %}
    <link rel="stylesheet" href="{% static 'css/general_styles.css' %}" />
    {% endblock %}
    
    {% block extrta-css %}
    {% endblock %}

    <title>Ladybug Nails {% block sub_head_title %}{% endblock %}</title>

    <!-- SCRIPTS *********    C. moved these to the head... ******  -->
    {% block core-js-head %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    {% endblock %}
  </head>
  <body>
    <header class="container-fluid fixed-top">
    <p> This is the header</p>

    {% block header %} 
    {% endblock %}

    </header>

    <!-- Container for Django messages -->
    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    <h3 class="p-5 m-5">Hello Vilag!</h3>

    {% block content %}
    {% endblock %} 
    
    {% block extra-js-body %}
    <!-- SCRIPTS at the bottom of the body  -->
    {% endblock %}
  </body>
</html>
