{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block meta %}
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        {% endblock %}

        <!-- BOOTSTRAP  *********  Lumen for testing - for now ******  -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.5.0/lumen/bootstrap.min.css" />

        <!-- FontAwesome 5 - not the kit **** TO BE REPLACED  -->
        <script src="https://kit.fontawesome.com/732dca80a8.js" crossorigin="anonymous"></script>

        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'images/logo_4.ico' %}" type="image/x-icon">

        <!-- MY CSS -->
        {% block core-css %}
        <link rel="stylesheet" href="{% static 'css/general_styles.css' %}"/>
        {% endblock %} {% block extrta-css %} {% endblock %}

        <title>LadyBird Nails {% block sub_head_title %}{% endblock %}</title>

        <!-- SCRIPTS *********    C. moved these to the head... ******  -->
        {% block core-js-head %}
        {% endblock %}
    </head>
<body>
	{% block header %} {% endblock %}

	<!-- Container for Django messages -->
	{% if messages %}
	<div class="message-container"></div>
	{% endif %}

	<nav class="navbar navbar-expand-sm fixed-top navbar-light bg-light"  id="mainNav">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavbarToggler" aria-controls="navbarTogglerDemo01"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
		<div class="collapse navbar-collapse navbar-light bg-light" id="mainNavbarToggler">
			<a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'images/logo_small.jpeg' %}" alt="LadyBird logo">
            </a>
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<!-- Placeholder for left aligned nav items -->
			</ul>
			<ul class="navbar-nav mx-auto mt-2 mt-lg-0">
                <li class="nav-item active">
					<a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Treatments</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
					<a class="nav-link" href="#">Gallery</a>
                </li>
                <li class="nav-item">
					<a class="nav-link" href="#">Contact Us</a>
				</li>
			</ul>
            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <li>
                            <a class="nav-link" title="This link is for the superuser(s) to the dashboard" href="{% url 'admin:index' %}">
                                <i class="fas fa-chess-queen"></i>
                                <span>Admin</span>
                            </a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">
                            <i class="fas fa-sign-out-alt"></i>
                            <span>Log out</span>
                        </a>
                    </li>
                {% else %}
                    <!-- Currently ne login functionality for users, just superuser -->
                {% endif %}
            </ul>
		</div>
	</nav>

    <!-- blockcontent from app's base.html Named page_content  -->
	{% block page_content %} 
    {% endblock %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>

    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
    
    <!-- Core theme JS-->
    <script src="{% static 'js/scripts_sb_creative.js' %}"></script>
    
    {% block extra-js-body %}
	<!-- SCRIPTS at the bottom of the body  -->
	{% endblock %}
</body>
</html>
